
.projects-container{
    width: 90%;
    margin: 0 auto;
    
}
.grid{
    display: grid;
    width: 70%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;
    justify-content: center;
    max-width: 100%; 
}
.projects-container img{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  object-fit: cover;
  max-width: 100%; 
  height: auto;
}
.projects-container h1{
  color: white;
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  padding-bottom: 40px;
}


@media (max-width: 1240px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  
}
