

.video-title {
  width: 100%;
  margin: 0 auto;
}

.video-title h1 {
  font-size: 100px;
  text-align: center;
  color: #00D2D2
}
.video-title p {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
}
.video {
  border: none;
  margin-right: 20%;
  width: 300px;
  max-width: 100%;
  background: none;
}
@media (max-width: 1240px) {
  .video {
    margin-right:0%;
  }
  .video-title h1{
    font-size: 80px;
    
  }

}

