

.cavalier_content {
 
  width: 30%;
  margin-left: 15%;
}

.imagem {
  width: 45%;
  margin-right: 10%;
}

.title {
 
  padding: 10px 0px 30px 0px;
  width: 400px;
  font-family: "Lexend Deca", sans-serif;
  color: #00D2D2;
  font-weight: bold;
  font-size: 65px;
}

.cavalier_content p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  color: #ffffff;
  font-size: 25px;
  width: 70%;
}

@media (max-width: 1200px) {
  .cavalier_content p {

    width: 100%;
  }
  .cavalier_content {
    padding-top: 150px;
    width: 90%;
    margin-left: 2%;
    margin-bottom: 20px;
  }

  .imagem {
    width: 100%;
    margin-bottom: 50px;
  }
}
