@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@600&family=Readex+Pro:wght@200;300;700&family=Source+Sans+Pro:wght@200;400;600&display=swap');

*{
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    
  }
  

h1{
  padding-top: 20px;
  color: #00D2D1;
}

  body{
    background-color: #1683D9;

  }
  @media (max-width: 1200px) {
    section{
      width: 90%;
    }
  }



